/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET  */

/* COMMON */
.img-size{
    max-height: 100%;  
    max-width: 100%;
}

.img-first{

}

.img-hover{

}

/* COMMON */

/* MAIN  */
.main-container{
    width: 80%;
    display: flex;
    margin: 150px auto;
    flex-wrap: wrap;

    /* debug */
    min-height: 300px;
    border: 1px solid black;
}

.outer-article-box{
    width: calc(100%/3);
    padding: 10px;

    /* debug */
    border: 1px solid green;
}

.inner-article-box{
    width: 100%;

    /* debug */
    height: 100%;
    background-color: aquamarine;
}

.inner-article-box .img-hover {
  opacity: 0; 
}

.inner-article-box:hover .img-hover {
  opacity: 1; 
}

/* MAIN  */
